body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  margin: 0px;
}

#wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1586px;
  padding-right: 14px;
  min-height: 95px;
  background-position: center center;
  background-color: #000;
  z-index: 1;
}

.menu {
  display: flex;
  padding: 0px;
  margin-right: 100px;
  margin-left: 101px;
}

.menu__item {
  margin-left: 85px;
}

.menu__item:first-of-type {
  margin-left: 0px;
}

.menu__link, .menu__link:active, .menu__link:visited {
  line-height: 1.4em;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.menu__link:hover {
  color: #999;
  transition: color 0.4s, border 0.2s;
}

.menu__link_active {
  border-bottom: 1px solid #fff;
  font-weight: normal;
}

.logo {
  padding-top: 4px;
  padding-left: 1px;
}

main {
  z-index: 2;
}

.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 228px;
  height: 744px;
  color: #fff;
  background-color: #000;
  background-image: url('./assets/bg-image.png');
  background-position: center center;
}

.welcome__title {
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 64px;
  letter-spacing: 4.5px;
  line-height: 75px;
}

.welcome__tagline {
  padding: 0px;
  margin: 0 0 29px 0;
  width: 504px;
  font-size: 18px;
  line-height: 1.4em;
  text-align: center;
}

.btn {
  padding: 0px 47px;
  background-color: #00afdB;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 46px;
  border: none;
  text-decoration: none;
  transition: background-color 0.4s;
}

.btn:hover {
  background-color: #009cc2;
}