/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/Georgia-Italic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  animation: fade-in 0.4s 1 backwards; }

.fade-out {
  animation: fade-in 0.4s 1 reverse forwards; }

:root {
  font-size: 10px; }

html, body {
  overflow-x: hidden; }

body {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16px; }

p {
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C; }

h1, h2, h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454; }

h2 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 25px; } }

h3 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em; }

a, a.link {
  letter-spacing: -0.5px;
  text-decoration: none;
  color: #CDCDCD;
  transition: color 0.2s; }
  a:hover, a.link:hover {
    color: #FAFAFA; }
  a:active, a_active, a.link:active, a.link_active {
    color: #FAFAFA; }

main {
  position: relative;
  z-index: 1; }

.blackout {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #00000000;
  animation: fade-in 0.4s 1 reverse; }
  .blackout_active {
    display: block;
    z-index: 2;
    background: rgba(41, 41, 41, 0.6);
    animation: fade-in 0.4s 1; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3; }
  .header_light {
    background-color: #FFFFFF; }
  .header_fixed {
    position: fixed;
    width: 100%;
    justify-content: center; }
    .header_fixed .header__content {
      padding-top: 28px;
      padding-bottom: 30px; }
  .header__content {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 30px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .header__content {
        max-width: 708px; } }
    @media screen and (max-width: 768px) {
      .header__content {
        min-width: 300px;
        width: 300px; } }
    @media screen and (max-width: 768px) {
      .header__content {
        justify-content: flex-start; } }

.logo {
  display: inline-block;
  padding-top: 3px;
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: right;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .logo {
      margin-right: 41px; } }
  .logo__title {
    margin-bottom: 9px;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    transition: color 0.4s; }
  .logo__motto {
    padding-right: 2px;
    color: #FFFFFF;
    transition: color 0.4s; }
  .logo_light .logo__title {
    color: #545454; }
  .logo_light .logo__motto {
    color: #292929; }
  .logo_active .logo__title {
    color: #F1CDB3 !important; }
  .logo_active .logo__motto {
    color: #FFFFFF !important; }

.menu {
  list-style: none; }
  @media screen and (max-width: 768px) {
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: calc(-50% - 160px);
      width: calc(50% + 160px);
      height: 100vh;
      padding-top: 28px;
      padding-right: calc(50% - 160px);
      box-sizing: border-box;
      background-color: #292929;
      transition: right 0.4s;
      z-index: 2; }
      .menu_active {
        right: 0px; } }
  .menu__item {
    display: inline;
    margin-left: 29.7px; }
    .menu__item:first-of-type {
      margin-left: 0; }
    @media screen and (max-width: 768px) {
      .menu__item {
        margin-left: 0px;
        font-size: 32px;
        line-height: 290%; } }
  .menu__link {
    padding: 0 1px 3px 1px; }
    .menu__link_active {
      border-bottom: 3px solid #F1CDB3; }
    .menu__link:hover {
      color: #FAFAFA; }
    @media screen and (max-width: 768px) {
      .menu__link {
        letter-spacing: 0px;
        padding: 0 1px 7px 1px; } }
  .menu_light .menu__link {
    color: #545454; }
    @media screen and (max-width: 768px) {
      .menu_light .menu__link {
        color: #CDCDCD; } }
    .menu_light .menu__link:hover {
      color: #292929; }
      @media screen and (max-width: 768px) {
        .menu_light .menu__link:hover {
          color: #FAFAFA; } }
  .menu__burger {
    display: none;
    z-index: 3; }
    @media screen and (max-width: 768px) {
      .menu__burger {
        display: initial;
        position: relative;
        top: 4px; } }
    .menu__burger svg {
      transition: transform 0.4s; }
      .menu__burger svg line {
        transition: stroke 0.4s; }
    .menu__burger_active svg {
      transform: rotate(90deg); }
      .menu__burger_active svg line {
        stroke: #F1CDB3; }

.button {
  display: inline-block;
  padding: 15px 45px;
  min-width: max-content;
  font-family: 'Georgia', serif;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-size: 17px;
  color: #4C4C4C;
  border: none;
  outline: none;
  background-color: #F1CDB3;
  border-radius: 30px;
  transition: background-color 0.2s, border-color 0.2s; }
  .button:hover {
    cursor: pointer;
    background-color: #FDDCC4; }
  .button_transparent {
    padding: 13px 43px;
    border: 2px solid #F1CDB3;
    background-color: transparent; }
    .button_transparent:hover {
      border-color: #FDDCC4; }

.slider {
  display: grid;
  grid-template-areas: "prev cards next";
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .slider {
      max-width: 708px; } }
  @media screen and (max-width: 768px) {
    .slider {
      min-width: 300px;
      width: 300px; } }
  @media screen and (max-width: 768px) {
    .slider {
      grid-template-areas: "cards cards" "prev next";
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      justify-content: center;
      row-gap: 20px;
      column-gap: 80px; } }
  .slider__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: #292929;
    outline: none;
    border: 2px solid #F1CDB3;
    border-radius: 26px;
    transition: background-color 0.2s; }
    .slider__button:hover {
      cursor: pointer;
      background-color: #F1CDB3; }
    .slider__button_prev {
      grid-area: prev;
      justify-self: flex-end; }
      @media screen and (max-width: 768px) {
        .slider__button_prev {
          margin-left: 10px; } }
    .slider__button_next {
      grid-area: next;
      justify-self: flex-start;
      transform: rotate(180deg); }
    .slider__button_inactive {
      border-color: #CDCDCD; }
      .slider__button_inactive svg path {
        fill: #CDCDCD; }
  .slider__cards {
    grid-area: cards;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    grid-template-columns: repeat(3, min-content);
    column-gap: 90px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .slider__cards {
        grid-template-columns: repeat(2, min-content);
        column-gap: 40px;
        overflow: hidden; } }
    @media screen and (max-width: 768px) {
      .slider__cards {
        grid-template-columns: min-content;
        overflow: hidden; } }
  .slider__card {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: #FAFAFA;
    transition: background-color 0.2s; }
    .slider__card:hover {
      cursor: pointer;
      background-color: #FFFFFF; }
  .slider__photo {
    width: 270px;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat; }

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding-top: 40px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20; }
  .footer__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .footer__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .footer__content {
        min-width: 300px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .footer {
      padding-top: 13px; } }
  @media screen and (max-width: 768px) {
    .footer {
      padding-top: 30px; } }
  .footer__content {
    display: grid;
    grid-template-areas: "info image";
    justify-content: space-between; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .footer__content {
        justify-content: center;
        grid-template-areas: "info" "image"; } }
    @media screen and (max-width: 768px) {
      .footer__content {
        justify-content: center;
        grid-template-areas: "info" "image"; } }
  .footer__image {
    grid-area: image; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .footer__image {
        justify-self: center; } }
    @media screen and (max-width: 768px) {
      .footer__image {
        width: 260px;
        justify-self: center;
        margin-top: 40px; } }

.footer-info {
  grid-area: info;
  display: grid;
  margin-top: 17px;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 160px;
  grid-auto-flow: column;
  height: 234px;
  align-content: space-between; }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .footer-info {
      column-gap: 60px;
      margin-bottom: 65px; } }
  @media screen and (max-width: 768px) {
    .footer-info {
      height: 470px;
      margin-top: 0px;
      grid-template-rows: repeat(6, max-content);
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      justify-items: center;
      text-align: center; } }
  .footer-info a {
    display: flex;
    position: relative;
    top: 5px;
    align-items: center;
    font-family: 'Georgia', serif;
    line-height: 115%;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #F1CDB3; }
    .footer-info a::before {
      position: relative;
      top: 5px;
      margin-right: 20px;
      font-size: 0px; }
      @media screen and (max-width: 768px) {
        .footer-info a::before {
          font-size: 30px;
          top: 0px; } }
    .footer-info a:hover {
      color: #FDDCC4; }
  .footer-info__title {
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .footer-info__title {
        width: 240px; }
        .footer-info__title br {
          display: none; } }
  .footer-info__email::before {
    content: url("../../assets/icons/mail.svg"); }
  .footer-info__phone::before {
    content: url("../../assets/icons/phone.svg"); }
  @media screen and (max-width: 768px) {
    .footer-info__address {
      justify-self: flex-start;
      text-align: left; } }
  .footer-info__address::before {
    content: url("../../assets/icons/pin.svg"); }

.pet-wrapper {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10; }
  .pet-wrapper__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    z-index: 11;
    cursor: pointer; }
    .pet-wrapper__background:hover + .pet .pet__close {
      background-color: #F1CDB3; }
  .pet-wrapper_active {
    display: flex;
    justify-content: center;
    align-items: center; }

.pet {
  display: flex;
  width: 900px;
  position: relative;
  background-color: #FAFAFA;
  border-radius: 8px;
  z-index: 12; }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .pet {
      width: 630px; } }
  @media screen and (max-width: 768px) {
    .pet {
      width: 240px; } }
  .pet__image {
    min-width: 500px;
    height: 500px;
    border-radius: 8px 0px 0px 8px;
    background-size: cover; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pet__image {
        min-width: 350px;
        height: 350px; } }
    @media screen and (max-width: 768px) {
      .pet__image {
        display: none; } }
  .pet__info {
    padding: 50px 20px 9px 30px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pet__info {
        padding: 10px 9px 10px 11px; } }
    @media screen and (max-width: 768px) {
      .pet__info {
        text-align: center;
        padding: 10px 10px 0px 10px; } }
  .pet__name {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px; }
  .pet__breed {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pet__breed {
        margin-bottom: 20px; } }
    @media screen and (max-width: 768px) {
      .pet__breed {
        margin-bottom: 20px; } }
  .pet__description {
    font-family: Georgia;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pet__description {
        margin-bottom: 20px;
        font-size: 13px; } }
    @media screen and (max-width: 768px) {
      .pet__description {
        margin-bottom: 20px;
        font-size: 13px;
        text-align: justify;
        margin-bottom: 24px; } }
  .pet__addinfo {
    font-family: Georgia;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 12px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pet__addinfo {
        margin-bottom: 8px; } }
    @media screen and (max-width: 768px) {
      .pet__addinfo {
        margin-bottom: 7px; } }
    .pet__addinfo b {
      font-weight: bold; }
    .pet__addinfo::before {
      content: "\2022";
      color: #F1CDB3;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      margin-right: 14px; }
      @media screen and (max-width: 768px) {
        .pet__addinfo::before {
          margin-left: 6px;
          margin-right: 0px; } }
  .pet__list {
    list-style: none; }
    @media screen and (max-width: 768px) {
      .pet__list {
        text-align: left;
        margin-bottom: 12px; } }
  .pet__close {
    position: absolute;
    right: -43px;
    top: -54px;
    padding: 19px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    font-size: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: background-color 0.2s; }
    .pet__close:hover {
      background-color: #F1CDB3; }
    @media screen and (max-width: 768px) {
      .pet__close {
        right: -31px; } }

.start-screen {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 908px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  background: url("../../assets/images/start-screen-gradient-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-size: cover; }
  .start-screen__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .start-screen__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .start-screen__content {
        min-width: 300px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .start-screen {
      padding-top: 0px;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .start-screen {
      padding-top: 0px;
      height: auto; } }
  .start-screen__content {
    display: flex;
    max-width: 1200px;
    justify-content: space-between; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .start-screen__content {
        max-width: 708px; } }
    @media screen and (max-width: 768px) {
      .start-screen__content {
        min-width: 300px;
        width: 300px; } }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .start-screen__content {
        flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .start-screen__content {
        flex-direction: column;
        justify-content: flex-start; } }
  .start-screen__main {
    display: flex;
    justify-content: space-between;
    align-self: flex-end; }
  .start-screen__info {
    align-self: center; }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .start-screen__doggo {
      width: 569px;
      height: auto;
      align-self: flex-end; } }
  @media screen and (max-width: 768px) {
    .start-screen__doggo {
      width: 260px;
      height: auto;
      align-self: flex-end; } }

.start-info {
  position: relative;
  top: -40px;
  height: 321px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .start-info {
      position: static;
      margin-top: 31px;
      margin-bottom: 100px; }
      .start-info__button {
        align-self: center; } }
  @media screen and (max-width: 768px) {
    .start-info {
      margin-top: 31px;
      position: static;
      height: 296px;
      align-items: center;
      text-align: center;
      margin-bottom: 105px; } }
  .start-info__title {
    width: 310px;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0; }
    @media screen and (max-width: 768px) {
      .start-info__title {
        width: 230px;
        font-size: 25px;
        letter-spacing: 0.06em; } }
  .start-info__description {
    width: 460px;
    color: #CDCDCD; }
    @media screen and (max-width: 768px) {
      .start-info__description {
        width: 295px; } }

.about {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: 100%; }
  .about__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .about__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .about__content {
        min-width: 300px; } }
  .about__content {
    display: grid;
    grid-template-areas: "img txt";
    column-gap: 120px;
    row-gap: 80px;
    padding: 80px 0 100px 0;
    justify-content: center; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .about__content {
        grid-template-areas: "txt" "img";
        justify-items: center; } }
    @media screen and (max-width: 768px) {
      .about__content {
        grid-template-areas: "txt" "img";
        justify-items: center;
        width: 300px;
        min-width: 300px;
        padding: 43px 0 42px 0;
        row-gap: 40px; } }
  .about__info {
    width: 430px;
    align-self: center;
    grid-area: txt; }
    @media screen and (max-width: 768px) {
      .about__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px; } }
  .about__title {
    width: 370px;
    color: #545454; }
    @media screen and (max-width: 768px) {
      .about__title {
        width: auto;
        text-align: center; } }
  .about__description {
    font-size: 15px;
    line-height: 160%;
    margin-top: 25px;
    color: #4C4C4C; }
    @media screen and (max-width: 768px) {
      .about__description {
        text-align: justify; }
        .about__description:last-of-type {
          margin-top: 22px; } }
  .about__image {
    grid-area: img; }
    @media screen and (max-width: 768px) {
      .about__image {
        width: 260px; } }

.pets {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background-color: #F6F6F6; }
  .pets__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pets__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .pets__content {
        min-width: 300px; } }
  .pets__content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 60px;
    padding: 81px 0 100px 0;
    max-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .pets__content {
        max-width: 708px; } }
    @media screen and (max-width: 768px) {
      .pets__content {
        min-width: 300px;
        width: 300px; } }
    @media screen and (max-width: 768px) {
      .pets__content {
        grid-row-gap: 42px;
        padding: 42px 0px; } }
  .pets__title {
    width: 300px;
    text-align: center; }

.help {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 80px 0 100px 0; }
  .help__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .help__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .help__content {
        min-width: 300px; } }
  @media screen and (max-width: 768px) {
    .help {
      padding: 42px 0px; } }
  .help__content {
    display: grid;
    row-gap: 60px;
    grid-template-rows: repeat(2, max-content);
    justify-items: center; }
    @media screen and (max-width: 768px) {
      .help__content {
        row-gap: 42px;
        min-width: 300px; } }
  .help__title {
    text-align: center; }
  .help__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-bottom: -56px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .help__options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 64px;
        row-gap: 55px;
        align-content: space-between;
        margin-bottom: -2px; } }
    @media screen and (max-width: 768px) {
      .help__options {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        column-gap: 32px;
        row-gap: 30px;
        align-content: space-between;
        margin-bottom: -2px; } }
  .help__option {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
    justify-items: center;
    font-family: 'Georgia', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454; }
    @media screen and (max-width: 768px) {
      .help__option img {
        height: 50px; } }
    .help__option:last-of-type {
      margin-right: 0px; }
    @media screen and (min-width: 1280px) {
      .help__option {
        margin-bottom: 55px;
        margin-right: 120px; }
        .help__option:nth-child(5n) {
          margin-right: 0px; } }
    @media screen and (max-width: 768px) {
      .help__option {
        font-size: 15px;
        row-gap: 20px; } }

.donation {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background-color: #F6F6F6;
  padding: 82px 0 100px 0; }
  .donation__content {
    width: 1200px;
    min-width: 1200px; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .donation__content {
        min-width: 708px; } }
    @media screen and (max-width: 768px) {
      .donation__content {
        min-width: 300px; } }
  @media screen and (max-width: 768px) {
    .donation {
      padding: 45px 0 43px 0; } }
  .donation__content {
    display: grid;
    grid-template-areas: "img txt";
    column-gap: 30px;
    row-gap: 59px;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .donation__content {
        grid-template-areas: "txt" "img"; } }
    @media screen and (max-width: 768px) {
      .donation__content {
        grid-template-areas: "txt" "img";
        row-gap: 20px; } }
  .donation__title {
    line-height: 130%; }
  .donation__info {
    display: grid;
    row-gap: 20px;
    width: 380px;
    justify-items: flex-start;
    grid-area: txt; }
    @media screen and (max-width: 768px) {
      .donation__info {
        width: 280px;
        justify-items: center;
        text-align: center;
        line-height: 160%; } }
  .donation__card-info {
    font-family: 'Georgia', serif;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454; }
    @media screen and (max-width: 768px) {
      .donation__card-info {
        letter-spacing: 0;
        line-height: 160%; } }
  .donation__card-number {
    display: flex;
    align-items: center;
    font-family: 'Georgia', serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    color: #545454;
    padding: 8.5px 15px;
    border-radius: 9px; }
    .donation__card-number::before {
      content: url("../../assets/images/credit-card.png");
      margin-right: 15px; }
      @media screen and (max-width: 768px) {
        .donation__card-number::before {
          font-size: 35px; } }
    .donation__card-number:hover {
      color: #545454;
      background-color: #FDDCC4; }
    @media screen and (max-width: 768px) {
      .donation__card-number {
        font-size: 15px;
        width: 281px;
        box-sizing: border-box; } }
  .donation__disclaimer {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #B2B2B2; }
    @media screen and (max-width: 768px) {
      .donation__disclaimer {
        text-align: justify; } }
  .donation__image {
    grid-area: img; }
    @media screen and (max-width: 768px) {
      .donation__image {
        padding-top: 22px;
        width: 260px; } }
