/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Georgia';
  src: url("../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: url("../assets/fonts/Georgia/Georgia-Italic.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

body {
  font-family: Arial, sans-serif; }

p {
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C; }

h1, h2, h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: inline-block;
  padding-top: 3px;
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: right; }
  .logo__title {
    margin-bottom: 9px;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3; }
  .logo__motto {
    padding-right: 2px; }

.menu {
  list-style: none; }
  .menu__item {
    display: inline;
    margin-left: 29.7px; }
    .menu__item:first-of-type {
      margin-left: 0; }
  .menu__link {
    padding: 0 1px 3px 1px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #F6F6F6; }
    .menu__link_active {
      color: #FAFAFA;
      border-bottom: 3px solid #F1CDB3; }

.start-screen {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 908px;
  width: 100%;
  padding: 80px 0 100px 0;
  padding: 58px 0 0 0;
  background: url("../assets/images/noise_transparent_2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; }
  .start-screen__content {
    width: 100%;
    max-width: 1200px; }
