* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
    background: rgb(34,66,195);
    background: linear-gradient(183deg, rgb(132 86 130) 0%, rgb(77 206 158) 100%);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5em;
}

#text {
    width: 80vw;
    height: 45vh;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    color: #fff;
    outline: none;
    background-color: #00000069;
    resize: none;
}

.keyboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100vw;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.2s;
}

.keyboard_active {
    transform: translateY(0%);
}

.keyboard__toggle {
    position: fixed;
    top: -6rem;
    right: 2rem;
    transition: top 0.2s;
}

.keyboard_active .keyboard__toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.keyboard__line {
    display: flex;
    min-width: 55rem;
    width: calc(100% - 20rem);
    justify-content: center;
}

.button {
    font-size: 3.2rem;
    min-width: 5rem;
    min-height: 5rem;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #3e3e3ed6;
    color: #fff;
    outline: none;
    border: none;
    margin: 0.2rem;
    transition: 0.2s;
}

.button_active, .button:active {
    background-color: #5176ca;
    transition: none;
}

.button[data-name="space"] {
    flex-basis: 50rem;
}

.button[data-name="shift"],
.button[data-name="backspace"],
.button[data-name="enter"] {
    flex-basis: 10rem;
}

@media (max-width: 1060px) {
    :root {
        font-size: 8px;
    }
}

@media (max-width: 820px) {
    :root {
        font-size: 6px;
    }

    .button[data-name="capslock"] {
        content: 'CL';
    }
}

@media (max-width: 520px) {
    :root {
        font-size: 1.85vw;
    }

    .keyboard_active .keyboard__toggle {
        position: fixed;
        top: -6rem;
        right: 0rem;
        transition: top 0.2s;
    }
}