@import '../common';

main {
  padding-top: 90px;
}

.pets {
  @include section(auto);
  background-color: $color-light-ll;
  &__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 60px;
    justify-items: center;
    padding: 80px 0 100px;
  }

  &__title {
    @include h2;
    color: $color-dark-l;
    max-width: 40rem;
    text-align: center;
  }
}