- var pre = '<span class="test">Nice</span>'

doctype html
html
  head
  body
    header
      .logo CSS
        span.logo__highlight  Cafe
  main
    .cafe
      table
    .editor Editor
    .sidebar
      .sidebar__title Task title
      .sidebar__description 
        | Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение новых предложений. 
        | Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание форм развития.
        pre plate .big
        