- var pre = '<span class="test">Nice</span>'

doctype html
html
  head
  body
    header
      .logo CSS
        span.logo__highlight  Cafe
  main
    .cafe
      .cafe__goal
      .table-space-3d
        .table
        .table__border
          .table__legs
            .table__leg
            .table__leg
    .editor 
      .view.editor-view
        .view__title
          .view__name CSS Editor
          .view__filename style.css
        .view__pane.view__pane_light
          .view__numbers
          .view__lines
            span.view__editable(contenteditable=true) Type selector here
      .view.html-view
        .view__title
          .view__name HTML Viewer
          .view__filename index.html
        .view__pane.view__pane_dark
          .view__numbers
          .view__lines test test
    .sidebar
      .sidebar__title Task title
      .sidebar__subtitle
      pre.sidebar__selector
      .sidebar__description 
        | Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение новых предложений. 
        | Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание форм развития.
        pre plate .big
        